/* 桌面預設樣式 */
body {
    font-size: 18px;
    font-family: "Roboto Serif", serif;
    transform: scale(0.67);  /*縮放頁面到 67% */
    transform-origin: top left; /* 設定縮放的原點 */
    width: 150%;  /* 增加寬度以適應縮放後的內容 */
    overflow-x: hidden; /* 隱藏橫向滾動條 */
  }
  
  /* 當螢幕寬度小於768px時，調整樣式 */
  @media (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }

/* 導覽列顏色 */
.navbar {
    padding: 20px 30px;
     /*background-crgb(128, 255, 128)*/
}
/* 滾動導覽列顏色 */
.navbar.scrolled{
  background-color:rgba(255, 255, 255, 0.5);
}
/* 導覽列品牌標題 */
.navbar-brand {
  padding-left: 60px;
  font-size: 2rem;
}
/* 導覽列圖片 */
.navbar-brand img {
    max-height: 50px; /* 限制品牌 Logo 的高度 */
}
/* 導覽列上文字(首頁、註冊、login) */
.nav-link {
    text-align: center;/* 會讓漢堡圖示中的文字置中 */
    padding: 12px 15px;
    margin-right: 3px;
    margin-left: 5px;
    font-size: 1.5rem; 
    transition: color 0.3s ease, background-color 0.3s ease;
    box-sizing: border-box;
    min-width: 60px;
    
}
/* 導覽列上文字滑入(首頁、註冊、login) */
.nav-link:hover{
  transform: scale(1.1);
  text-decoration: underline; /* 當滑鼠懸停時添加底線 */
}

.navbar-collapse {
  flex-grow: 0; /* 避免自動擴展佔據多餘空間 */
 }

/* btn類型按鈕設計(搜尋鈕) */
.btn{
  margin-right: 6px;
  font-size: 24px;
  background-color: rgba(90, 132, 195, 1);
  color: white;
}
/* btn類型按鈕滑入設計(搜尋鈕) */
.btn:hover {
  
  background-color:white;
  color:rgba(90, 132, 195, 1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
}


/* 可以調整搜尋圖示大小 */
.navbar .collapse .btn-outline-secondary .material-icons{
  font-size: 30px;
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
}

/* 搜尋框 */
.search-box{
  display:none;

}

/* #A4BBCA  #ACA48B
.btn-primary {
    background-color: #5A84C3;
    border-radius: 8px;
}
*/
/* 圖片滿版 */
.full-width-image {
  width: 100%; /* 讓圖片寬度佔滿整個頁面 */
  height: 900px; /* 可以根據需求調整高度 */
  object-fit: cover; /* 確保圖片保持比例，並覆蓋整個容器 */
}

.custom-button{
  background-color: rgba(90, 132, 195, 1);; /* 自訂背景顏色 */
  border-color: rgba(90, 132, 195, 1);; /* 自訂邊框顏色 */
  color: white; /* 自訂文字顏色 */
  font-weight: bold; /* 調整字體粗細 */
  padding: 15px 20px; /* 調整按鈕的內邊距 */
  margin: 12px;
}


/* 
.content {
  margin-top: 10px; 確保內容與導覽列保持距離 
}

/* ------以下主頁內容------ */
/* 第一個框的打勾圖示*/
.material-icons.one{
  font-size: 100px;
  color: rgb(167, 184, 210);
}
/* 第一個框的的文字 */
.text_box1_h2{
  font-weight: 600;
  font-size: 25px;
}
/* 三張卡片的陰影 */
.card-body{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 15px;
}
/* 卡片旁邊留白 */
.custom-padding {
  padding-left: 10px;
  padding-right: 10px;
}
